/* ========================================================================================= */
/* Style for all pages */

#titleImage
{
    width: 100%;
}

#body{

    margin-left: 15%;
    margin-right: 15%;
    background-color: #e6f3ff;

}

#body p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: teal;
}

/* ========================================================================================= */

/* Style for index page */

#sW_Dwarfs
{
    border: solid pink;
    width: 25%;
    float: right;
    margin: 2%;

    
}

#goBackUp
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
   
}

#divForDwarfs
{
    display: flex;
    justify-content: center;
    
}
#divForDwarfs a{
    border: pink solid;
    width: 12%;
    height: 200px;
    float: left;
    margin-right: 1px;
}

#divForDwarfs img
{
    height: 200px;
    width: 100%;
}


/* ========================================================================================= */


.dwarfInfo
{
   border: solid;
    position: relative;
}

.dwarfs
{
    border: pink solid;
    height: 200px;
  /* width: 25%; */
    float: right;
    
}

#leftSide
{
    position: absolute;
    left: 20%;
    font-size: 12px;
    border: solid;
}
