#titleImage
{
    width: 100%;
}

#sW_Dwarfs
{
    border: solid pink;
    width: 20%;
    float: right;
    
}

body{

    margin-left: 15%;
    margin-right: 15%;
    background-color: #e6f3ff;

}

/* Div for homepage */
.homepage 
{
    /* margin-left: 15%;
    margin-right: 15%; */
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: teal;
}

.homepageDwarfs
{
    border: pink solid;
    height: 200px;
    width: 12%;
    float: left;
    margin-right: 1px;
}


#goBackUp
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
   
}

#divForDwarfs
{
    display: flex;
    justify-content: center;
    
}